<% Breadcrumbs.set_controller @controller %>
<% Breadcrumbs.add_main.add_cart %>
<% @body_id = 'cart' %>
<%= javascript_include_tag 'application' %>

<h1><%= t("shopping_cart")%></h1>

<% if @order.line_items.empty? %>

  <%= hook :empty_cart do %>
    <p><%= t("your_cart_is_empty.") %></p>
    <br />
            <input type="button" value="продолжить покупки" onclick='document.location = <%= root_path.to_json %>'/>
  <% end %>

<% else %>
  <%= hook :outside_cart_form do %>
    <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
      <%= hook :inside_cart_form do %>

        <%= hook :cart_items do %>
          <%= render :partial => 'form', :locals => {:order_form => order_form} %>
        <% end %>

          <h3 style="float:right"><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
          <div class="clear"></div>
        <div id="subtotal" style="padding:10px;width:100%">
          <div class="links">
            <input type="button" value="Пересчитать" onclick="$('form#updatecart').submit(); return false;" /> * (используйте для обновления количества товаров)
            <br/>
            <input type="button" value="продолжить покупки" onclick='document.location = <%= root_path.to_json %>'/>
          </div>
        </div>

      <% end %>
    <% end %>
  <% end %>
  
        <div class="clear"></div>
        <div class="checkout">
          <% link_to checkout_state_path('address'), :style => "display:block;" do %>
          <%= image_tag('/images/cart.png', :align => "left") %>
          <div class="checkout-text">Оформить<br/> заказ!</div>
        <% end %>
        </div>

<% end %>
