- Breadcrumbs.set_controller @controller
- Breadcrumbs.add_main.add_search(h(params[:search_query])).add_product_with_search(@product, h(params[:search_query]))
- content_for :body_class do 
  izdeliya
.name
  = @product.name

= javascript_include_tag 'product'
#product-images
  = hook :product_images do 
    #main-image
      = render 'products/image'
    #thumbnails
      = render 'products/thumbnails', :product => @product
  .clear

#desc
  %table{ :style => "border: 1px solid white", :width => "100%", :cellspacing => 0, :cellpadding => 0 }
    - @product.product_properties(:include => :properties).each do |prop|
      %tr
        %td
          = prop.property.name
          \:
        %td
          = raw prop.value.gsub("\n", "<br />")
  %br
  Цена: 
  = product_price @product

= render :partial => 'common/order_form'
