<% @taxonomy = Taxon.find_by_name(Spree::Config[:product_manufacturers_taxon]) %>
<% if @taxonomy %>
<% i = 0 %>
<% @taxonomy.children.each do |item| %>
    <% i+= 1%>
    <div class="fotoblock<%= (i % 2) == 0 ? ' secondcol' : '' %> ">
	<div class="name">
        <%= item.name %>
    </div>
    <div class="image">
    	<a href="<%= by_manufacturer_path item.name %>"><img src="<%= item.icon.url(:main) %>" alt=""/></a>
    </div>
</div>
<% end %>
<% else %>
  Не найдено элементов в категории 
  "<%= Spree::Config[:product_manufacturers_taxon] %>"
  <br/>
  (опция конфигурации product_manufacturers_taxon)
<% end %>
