- content_for :body_class do 
  izdeliya
.name
  = @product.name

= javascript_include_tag 'product'
#product-images
  = hook :product_images do 
    #main-image
      = render 'products/image'
    #thumbnails
      = render 'products/thumbnails', :product => @product
  .clear

#desc
  %table{ :style => "border: 1px solid white", :width => "100%", :cellspacing => 0, :cellpadding => 0 }
    - @product.product_properties(:include => :properties).each do |prop|
      %tr
        %td
          = prop.property.name
          \:
        %td
          = raw prop.value.gsub("\n", "<br />")
  %br
  Цена: 
  = product_price @product

= hook :cart_form do 
  #cart-form
    = render 'cart_form'
/ 
  #order
    %a#add{:href => populate_orders_url }
      Добавить
      %br/
      в карзину
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/order.png"}/
