<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<!--[if IE 6]><script src="/scripts/DD_belatedPNG.js"></script>
<script language="javascript" type="text/javascript">
DD_belatedPNG.fix('body,div,img,li,a,select,input,ul,h1');
</script><![endif]-->
<link rel="stylesheet" type="text/css" href="/css/pxgradient.css" />
<script type="text/javascript" src="/scripts/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/scripts/pxgradient-1.0.1.jquery.js"></script> 
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>

</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= yield :body_class %>">
	<div id="conteiner">
		<div id="header">
			<div id="header_l"></div>
			<div id="logo">
            	<a href="index.html"><img src="/images/logo.png" alt=""/></a>
            </div>
			<div id="header_r"></div>                        
        </div>
        <div id="topline"></div>
        <div id="main">
	        <div id="main_l"></div>
	        <div id="menu">
            	<div id="contacts">
                г. Одесса,<br/>
				ул. Толбухина, 135,<br/>
				ТЦ "МегаДом",<br/>
				центральный ряд,<br/>
				маг. №25-с,<br/>
				тел.: 743-53-75
                </div>
                <ul id="first">
                	<li><a href="<%= root_path %>">на главную</a></li>
                	<li><a href="#">новинки в продаже (!)</a></li>
                    <li><a href="<%= articles_path %>">статьи о продукции</a></li>
                    <li><%= link_to_cart 'корзина' %></li>
                	<li><a href="/dostavka">доставка и оплата</a></li>
                </ul>
				<div id="search">
	                <form name="search" method="get" action="<%= products_path %>">
						<input type="text" name="keywords" size="15"/>
						<input type="submit" id="submit" value="Поиск"/>                        
	                </form>
                </div>
                <ul id="second">
                  <% content = yield(:left_menu) %>
                  <% if !content.blank? %>
                    <%= raw(content) %>
                  <% else %>
                    <%= render :partial => '/left_menu' %>
                  <% end %>
                </ul>
	        </div>
	        <div id="main_r">
            	<div id="main_uzor_top">
                <div id="main_uzor_bottom">
				<div id="content">            
                  <div class="breadcrumbs">
                    <%= render :partial => "/breadcrumbs" %>
                </div>
                <div class="inner-content" <%= yield :main_uzor_bottom %>>

      <% if flash.notice %>
      <div class="flash notice"><%= flash.notice %></div>
      <% end %>
      <% if flash[:error] %>
      <div class="flash errors"><%= flash[:error] %></div>
      <% end %>

                <%= yield %>
              </div>
                </div>
                <%= yield :pagination %>
           	</div>
	    </div>
	    </div>
        </div>
        <div id="bottomline">
        </div>
        <div id="footer">
        	<div id="footer_l">
            &copy; 2011 ТМ «Званый обед»<br/>
			<a href="#">www.diner-gala.com.ua</a>
            </div> 
        	<div id="footer_r">
ТМ «Званый обед» является официально зарегистрированной торговой маркой.<br/>
Любое несанкционированное использование влечет за собой ответственность<br/>
согласно действующему законодательству Украины и международному праву.<br/>
            </div> 
        </div>
    </div>
	<script type="text/javascript" src="/scripts/gradient.js"></script>
</body>
</html>
